{% extends 'base.html' %}
{% block content%}
<br><br>
<div class="cup-form-container">
    {% if object %}
    <h1>Edit {{ object.item }}</h1>
    {% else %}
    <h1>Add Cup</h1>
    {% endif %}
    <div class="cup-form">
    <form class="cup-form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}<div class="signup-input">{{ field }}</div>
            {% if field.help_text %}
            <p class="help help-text">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="btn" id="cup-form-btn" value="confirm">
    </form>
    </div>
</div>
{% endblock %}