{% extends 'base.html' %}
{% block content %}

<br><br>
<div class="profile-container">
    <div class="profile-details">
        {% if profile.user == user %}
        <div class='profile-edit-n-delete'>
            <h5 class="cup-item">{{ profile.display_name }}</h5>
            <a href="{% url 'profiles_update' profile.id %}">
                <button id='edit-btn'>
                    <img class='edit-icon' src='https://i.imgur.com/Wi8U0EK.png'>
                </button>
            </a>
        </div>
        {% else %}
        <h3 class="profile-name">{{ profile.display_name }}</h3>
        {% endif %}
        <div class="profile-details-content">
            <p><strong>Zip Code:</strong> {{ profile.zipcode }}</p>
        </div>
        {% if profile.user != user %}
            {% if chat %}
        <a href="{% url 'chats_detail' chat.id %}">
            {% else %}
            <a href="{% url 'chats_create' profile.id %}">
            {% endif %}
                <button id='button-add' class="btn" type='submit'>
                    <p>+</p>
                    <img class="chat-icon" src="https://i.imgur.com/J3mdIoh.png">
                    <p>Chat with me!</p>
                </button>
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}