{% extends 'base.html' %}
{% block content %}
<div class="cup-index">
    <br><br>
    <div class="add-cup-container">
        <a href="{% url 'cups_create' %}">
            <button class="add-cup-btn">
                <img class="cup-icon" src="https://i.imgur.com/JgMT6MN.png">
            </button class="add-cup-btn">
        </a>
    </div>
    <div class="cup-feed-container">
        {% for cup in cups %}
        <div class="card">
            <a href="{% url 'detail' cup.id %}">
            {% if cup.cup_type == '1' %}
                <p class="empty-cup">{{ cup.get_cup_type_display }} Cup</p>
            {% else %}
                <p class="extra-cup">{{ cup.get_cup_type_display }} Cup</p>
            {% endif %}
            <div class="cup-photo-container">
                {% for photo in cup.photo_set.all %}
                    <img class="cup-photo" src="{{photo.url}}">
                {% empty %}
                    <div class="no-photo-box">No Photos Uploaded</div>
                {% endfor %}
            </div>
            <div class="card-content">
                <p><strong>{{ cup.item|upper }}</strong></p>
                <p> {{ cup.description }}</p>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


    {% endblock %}