{% extends 'base.html' %}
{% block content %}


<h1 class="welcome-user">Welcome back, Neighbor!</h1>
<div class='login-container'>
    <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}<div class="login-input">{{ field }}</div>
            {% if field.help_text %}
            <p class="help help-text">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="btn" id="login-btn" value="login">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
        <a class ="signup-link" href="{% url 'signup' %}">Sign Up</a>
    </form>
</div>
{% endblock %}

