{% extends 'base.html' %}
{% block content %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
<div class="signup-container">
    <div class="introduction">
        <h1>WELCOME TO CUP OF SUGAR!</h1>
        <p>Give a little, Take a little</p>
    </div>
    <div class="signup-form">
        <h3>Create a new account</h3>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<div class="signup-input">{{ field }}</div>
                {% if field.help_text %}
                <p class="help help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <input type="submit" class="btn" id="signup-btn" value="signup">
        </form>
    </div>
</div>
{% endblock %}