* {
  font-size: 12px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #F6F6F6;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}
  
.navbar-fixed {
  background: #4079A4;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  }

.logo {
  height: 50px;
  padding-left: 2em;
}

.brand-logo {
  height: 100%
}

.right {
  display: flex;
  flex-direction: row;
  padding: 20px;
  list-style: none;
}

.right li {
  font-size: .5em;
  padding-left: 3em;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

/* signup page */

.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(https://i.imgur.com/dRRr6BE.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.introduction {
  width: 45%;
  padding: 2em;
}

.signup-form {
  border-radius: 5px;
  border-width: .5px;
  border-style: solid;
  border-color: rgb(223, 223, 223);
  padding: 1em 2em;
  background: #F0EEEE;
  width: 35%;
  margin: 4em;
  font-size: .75rem;
}

.fieldWrapper {
  padding: 1em;
}

.fieldWrapper input {
  border-radius: 3px;
  border-style: none;
  height: 2rem;
  padding-left: .5em;
  width: 95%;
  margin-top: 5px;
}

.help-text {
  font-size: .5rem;
}

.fieldWrapper ul {
  font-size: .5rem;
  list-style: none;
  padding: 0;
}

.btn {
  width: 12em;
  height: 2.5em;
  border-radius: 5px;
  color: white;
}

#signup-btn,
#login-btn,
#cup-form-btn {
  background: #616BA6;

}

.help-text {
  font-size: .625rem;
}

/* cup details page */

.cup-details-container {
  height: 60vh;
  width: 75vw;
  background: white;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5%;
  position: relative;
}

.cup-details-photo-container {
  height: 100%;
  width: 50%;
  background: #d8d8d8;
}

.photo-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50%
}

.card-panel input {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cup-details-photo {
  height: 100%;
  width: 100%;
  background: #D8D8D8;
  border-radius: 5px;
}
/* .cup-details-photo img {
  height: 100%;
  width: 100%;
}

.cup-details-photo img.wide {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.cup-details-photo img.tall {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}​ */

.no-image {
  height: 100%;
  width: 100%;
  background: #d8d8d8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.no-photo {
  height: 7%;
  width: auto;
}

.cup-details-photo {
height: 100%;
width: 100%;
background: black;
margin: 0;
}

.cup-details {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 45%;
}

#edit-btn {
  border-radius: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.edit-icon {
  height: 11px;
}

#delete-btn {
  background: #C2123A;
  border-color: #C2123A;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: .75em;
  font-weight: bold;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cup-edit-n-delete {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.cup-edit-n-delete {
  justify-content: space-between;
}

.cup-item {
  margin: 0;
  font-size: 1.5em
}

.cup-details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cup-btns {
  display: flex;
  flex-direction: row;
}

.chat-icon {
  height: 15px;
  width: auto;
}
#button-add {
  width: 12em;
  border-radius: 5px;
  color: white;
  background: #A6618D; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 2.5em;
  position: absolute;
  bottom: 2em;
  right: 2em;
}

#button-add p {
  margin: 0;
}

/* cups feed */

.cup-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-cup-container {
  display: flex;
  justify-content: flex-end;
}

.cup-icon {
  height: 15px;
  width: auto;
}
.add-cup-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 5em;
  height: 3em;
  border-radius: 5px;
  color: white;
  background: #616BA6;
  font-size: .75rem;
  margin-right: 10em;
}

.cup-feed-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.empty-cup, 
.extra-cup {
  margin: 0;
  font-size: .75em;
}

.empty-cup {
  color: red;
}

.extra-cup {
  color: green;

}

.card {
  height: 40vh;
  width: 35vh;
  background: #F0EEEE;
  border: #999999;
  border-style: solid;
  border-width: .4px;
  color: white;
  margin: 1.5em;
  padding: 1em;
  border-radius: 5px;
}

.card-content p {
  color: rgb(69, 78, 126);
  font-size: .7rem;
  height: 30%;
  width: auto;
}

.cup-photo-container {
  height: 70%;
  width: auto;
  background: #d8d8d8;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cup-photo {
  width: 100%;
  height: 100%;
}

.no-photo-box {
  height: 10px
  width: auto;
}
/* login page */

.login-container {
  padding: 2em;
  margin: 0 auto;
  height: 60%;
  width: 50%;
  background: #F0EEEE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.welcome-user {
  font-size: 2rem;
  margin: 1em;
  text-align: center;
}
.login-input {
  margin-bottom: 1em;
}

.sign-up-link {
  color: rgb(69, 78, 126);
  text-decoration: underline;
}


/* cup-delete*/
.delete-container {
  padding: 2em;
  margin: 0 auto;
  height: 30%;
  width: 50%;
  background: #F0EEEE;
  border-radius: 5px;
  border-style: solid;
  border-width: .75px;
  border-color: rgb(223, 223, 223);
  text-align: center;
}

.delete-container a {
  color: #616BA6;
}

#delete {
  background: red;
}

/* cup-form */
.cup-form-container {
  padding: 2em;
  margin: 0 auto;
  height: 70%;
  width: 50%;
  background: #F0EEEE;
  border-radius: 5px;
  border-style: solid;
  border-width: .75px;
  border-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
}

.cup-form {
  position: relative
}

h1 {
  font-size: 1.5rem;
}

.cup-form-btn {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

/* profile-details */

.profile-container {
  width: 50%;
  height: 70%;
  background: #F0EEEE;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-style: solid;
  border-width: .75px;
  border-color: rgb(223, 223, 223);
  margin: 0 auto;
  position: relative;
}

.profile-edit-n-delete {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.profile-details-content {
  padding: 1em;
  position: relative;
}


/* messages */

.message-form-container {
  height: 10%;
  width: 52vw;
  background: rgb(69, 78, 126);
  color: white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1em;
}
.message-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.message-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#id_content {
  border-radius: 3px;
  border-style: solid;
  border-width: .75px;
  border-color: rgb(223, 223, 223);
  width: 25em;
}

.message-container {
  height: auto;
  width: 50vw;
  background: #F0EEEE;
  border-radius: 5px;
  border-style: solid;
  border-width: .75px;
  border-color: rgb(223, 223, 223);
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

#message-send-btn {
  width: 7em;
  height: 2.5em;
  border-radius: 5px;
  color: white;
  background: #616BA6;
  margin-left: 2em;
}

.message-fieldWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
.message-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.messages
.sender-name,
.created-at,
.message {
  margin: 0;
  padding: .25em;
}

.sender-name {
  font-weight: bold;
}

.created-at {
  font-size: .625rem;
}

/* chat inbox */
.chat-inbox-label {
  text-align: center;
  color: rgb(69, 78, 126);
  margin: 2em;
}

#chat-with-name {
  font-size: 1.5rem;
  color: rgb(69, 78, 126)
}
.inbox-container {
  height: auto;
  width: 50%;  
  background: #F0EEEE;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(223, 223, 223);
  border-width: .75px;

}

.chat-card {
  background: white;
  text-align: center;
  padding: .5em;
}

.page-footer {
  margin-top: 2em;
}

.sender-name {
  color: rgb(69, 78, 126);
  margin: 0;
}

.individual-message {
  background: white;
  padding: .5em;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(223, 223, 223);
  border-width: .75px;
}