{% extends 'base.html' %}

{% block content%}

    <h1 class="chat-inbox-label">CHAT WITH 
        <span id="chat-with-name">
        {% if chat.user1_name == profile.display_name %}
        {{ chat.user2_name|upper }}
        {% else %}
        {{ chat.user1_name|upper }}
        {% endif %} 
        </span>
    </h1>
    <div class="message-form-container">
        <div class="message-form-wrapper">
            <form class="message-form" action="{% url 'add_message' chat.id %}" method="post">
                {% csrf_token %}
                    <div class="message-box">
                        {% for field in form %}
                        {{ field.errors }}
                            <div class="message-fieldWrapper">
                                <div class="message-input">
                                    <div class="messages-label">{{ field.label_tag }}</div>&nbsp;&nbsp;
                                    <div class="message-input-field">{{ field }}</div>
                                </div>
                                <input type="submit" class="btn" id="message-send-btn" value="send">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="message-container">
        {% for message in messages %}
            <div class="individual-message">
                <p class="sender-name">{{message.sender_name|upper}}</p>
                <p class="created-at">{{message.created_at}}</p>
                <p class="message">{{message.content}}</p>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}