{% extends 'base.html' %}

{% block content%}
    <p>Chatting with <span id="chat-with-name">
            {% if chat.user1_name == profile.display_name %}
            {{ chat.user2_name }}
            {% else %}
            {{ chat.user1_name }}
            {% endif %}
        </span>
    </p>
    <div class="message-form-container">
        <form class="message-form" action="{% url 'add_message' chat.id %}" method="post">
            <div class="message-box">
                {% csrf_token %}
                <div class="message-fieldWrapper">
                {% for field in form %}
                        {{ field.errors }}
                        <div class="message-input">
                            <div class="messages-label">{{ field.label_tag }}</div>
                            <div class="message-input-field">{{ field }}</div>
                            <input type="submit" class="btn" id="message-send-btn" value="send">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
    <br>
    <div class="message-container">
        {% for message in messages %}
            <div class="individual-message">
                <p class="sender-name">{{message.sender_name|upper}}</p>
                <p class="created-at">{{message.created_at}}</p>
                <p class="message">{{message.content}}</p>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}