{% extends 'base.html' %}

{% block content%}
<h1>Chat Inbox</h1>
{% for chat in chats %}
<div class="chat-inbox-container">
    <a href="{% url 'chats_index' %}">
        <div class="chat-card">
            <div class="chat-card-content">
                <p>Chat with <span id="chat-with-name">
                        {% if chat.user1_name == profile.display_name %}
                            {{ chat.user2_name }}
                        {% else %}
                            {{ chat.user1_name }}
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
    </a>
</div>
{% endfor %}
{% endblock %}